$licorice-color: #0E1116; // Background
$raisin-black-color: #252627; // Auth form square background
$cerulean-color: #007EA7; // Buttons and links
$alabaster-color: #F9F9F9; // Fonts and highlights
$ruby-color: #D81159; // Errors and warnings
